@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&family=Roboto+Slab&display=swap');
*{  
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Slab', serif;
    
}
body{
 background-image: url(./images/b3.png);
 background-repeat: no-repeat;
 background-size: cover;
 
}
section{
    width: 100%;
    position: relative;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
header{
    background-color: black;
    position: absolute;
    top: 0;
    z-index: 2;
    left: 0;
    display: flex;
    width: 100%;
    padding: 20px 100px;
    justify-content: space-between;
    align-items: center;
}
header .logo{
    position: relative;
    max-width: 80px ;
}
header ul{
    position: relative;
    display: flex;
   
}
header ul li{

   list-style: none;
}
header ul li a{
    
    display: inline-block;
    color: white;
    margin-left: 40px;
    font-weight: 400;
    font-size: 20px;
    text-decoration: none;
}
.content{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content .text{
    max-width: 600px;
    position: relative;
}
.content .text h2{
    color: black;
    font-size: 4em;
    line-height: 1.4em;
}
.content .text h2 span{
    color: red;
    font-size: 1.2em;
    font-weight: 900;
}
.content .text p{
    color: white
}
.content .text a{
    display: inline-block;
    text-decoration: none;
    margin-top: 20px;
    color: white;
    background-color: red;
    padding: 10px 20px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 50px;
}
.content .imgbox{
    
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 50px;
}
.content .imgbox img{
    min-width: 300px;
    margin-bottom: 150px;
}
.scroll{
    position: absolute;
    left: 50%;
    bottom : 20px ;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
}
.scroll li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
}
.scroll li:hover{
    transform: translateY(-15px)
}
.icons{
    position: absolute;
    top: 50%;
    right: 30px;
    border-radius: 100px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
}
.icons li{
    list-style: none;
}

.icons li a{
  filter: invert(1);
}
.circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: red;
    clip-path: circle(600px at right 900px);
}
footer{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-evenly;
    text-align: justify;
    gap: 20px;
    padding: 30px;
    
    
}
footer .item{
    margin-right: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;   
}
footer .item input{
    padding: 10px;
    outline: none;
    border-radius: 10px;
}
footer .item ul{
    padding: 20px 100px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.title{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.news{
    margin-top: 30px;
    justify-content: space-around;
    display: flex;
}
.news .card{
    
    height: 600px;
    width: 400px;
    margin-bottom: 30px;
    border-radius: 20px;
    background-color: white;
}
.card .top{
    height: 50%; 
}
.card .top img{
  border-radius: 20px 20px 0px 0px;
   height: 100%;
   width: 100%;
object-fit: cover;
}
.card .bottom{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 20px;
    text-align: justify;
}
.card .bottom button{
    padding: 20px;
    width: 250px;
    background-color: white;
    border-radius: 100px;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
}
.title h2{
    color: white;
    font-size: 30px;
}
.news .card:hover{
    -webkit-box-shadow: 3px 2px 7px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 3px 2px 7px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 3px 2px 7px 0px rgba(0, 0, 0, 0.75);
        transform: translateY(-5px);
}

@media (max-width: 991px){
    *{
        margin: 0;
        padding: 0;
    }
    header{
        width: 100vw;
        overflow: hidden;
        padding: 20px;
    }
    header .logo{
        max-width: 60px;
    }
    header img{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    header ul{
        display: none;
    }
    section{
        padding: 20px 20 120px;
    }
.content{
    width: 100%;
    overflow: hidden;
    margin-top: 100px;
    flex-direction: column;
}
.content .text h2{

    color: #333;
    font-size: 2.5rem;
}
.content text{
    max-width: 100%;
}
.circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: red;
    clip-path: circle(400px at center bottom);
}
.content .imgbox {
    max-width: 100%;
    display: flex;
    justify-content:center;
    padding-right: 50px;
    margin-top: 50px;
}
.content .imgbox img{
    max-width: 150px;
}
.scroll li img{
    display: flex;
    justify-content: center;
}
.content .text p {
    color: #333;
}
.icons {
    position: absolute;
    top: 50%;
    right: 30px;
    border-radius: 100px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
    background-color: red;
}
.icons li{
    padding: 10px;
     
    transform: translateX(-20px);
}
footer{
    display:grid;
    grid-row-start: 1;
    grid-row-end: 3;
    flex-wrap: wrap;
}
footer .item1{
  display: none;
}
.news {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
}

